html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background: url(assets/grass.png);
  font-family: monospace;
  overflow: hidden;
}
.npc {
  width: 20px;
  height: 20px;
  position: absolute;
  background-position: 0 0;
  height: 46px;
  width: 32px;
}
.lumberjack {
  background-image: url(assets/lumberjack.png);
}
.blacksmith {
  background-image: url(assets/blacksmith.png);
}
.miner {
  background-image: url(assets/miner.png);
}
.object {
  width: 130px;
  height: 60px;
  background: #000;
  position: absolute;
}
.object.forest {
  background: url(assets/forest.png);
  width: 200px;
  height: 135px;
}
.object.storage {
  background: url(assets/chest.png);
  width: 32px;
  height: 32px;
}
.object.lumberjackshouse {
  background: url(assets/house3x2.gif);
  width: 126px;
  height: 104px;
}
.object.mine {
  background: url(assets/mine.png);
  width: 128px;
  height: 104px;
}
.object.forge {
  background: url(assets/house1x2.gif);
  width: 126px;
  height: 106px;
}
.ui {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  color: #fff;
  padding: 7px;
}
.ui .data {
  display: flex;
}
.ui .key,
.ui .val {
  display: inline-flex;
}
.ui .val {
  margin: 0 0 0 auto;
  padding: 0 0 0 7px;
}

.info {
  white-space: pre;
  margin: 0 0 0 100%;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}
